<script>
  function handleClick(button) {
      // Disable the button
      button.disabled = true;

      // Get the form associated with the button
      const form = button.form;

      // Perform client-side validation if needed
      if (form.checkValidity()) {
          // If the form is valid, submit it
          form.submit();

          // You can also handle the server response here and provide feedback to the user.
          setTimeout(function() {
              // Enable the button after the simulated server response
              button.disabled = false;
          }, 20000); // Simulated delay (2 seconds in this example)
      } else {
          // If the form is not valid, re-enable the button
          button.disabled = false;
      }
  }
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>




      <div class="modal-body">


        <form action="{{url_for('order_sheet',id=id)}}"  method="post">

          <label>Menu Items :
            <select required  name="menuitem" id="selectBox1" >
            <option value="" disabled selected>Select your option</option>
            {% for menuitem in menuitems %}

            <option class="dropdown-item" value="{{ menuitem['description'] }}">
            {{ menuitem['description'] }} {{ menuitem['price'] }}

            </option>
            {% endfor %}
            </select>

          </label>
          <br>
          <br>
          <label> Quantity : 


          <container class="col-xlg-12 mx-auto  container row justify-content-center" style="margin-top : 5%;" >
            <div class="input-group mb-3">
              <!-- <span class="input-group-text">$</span> -->
              <input type="number" step=".01" min=0 max=9999.99 required id="salary" name="quantity" class="  form-control"          aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text">.00</span>
            </div>      
          </container>
          </label>

          <!-- name = "transfer" value="Transfer" -->

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" name ="action" value="addOrder" class="btn btn-primary" onclick="handleClick(this);">Add/Modify</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
