<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Transaction </title>
      {% include 'icon.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<style>
  body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 100px;
}

/* table {
  text-align: left;
  position: relative;
}

th {
  background-color:#FF0000
  background: white;
  position: sticky;
  top: 0;
}
  
  #managerTable {
    max-height: 500px;
    overflow: auto;
} */
  
</style>
  
  </head>
  
  <body class="d-flex flex-column min-vh-100" >
{% include 'navbar.html' %}
   <content >



     
<div  >
<table  class="table  mx-10 col-lg-4 mx-auto  container  justify-content-center  border-0 bd-example ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Balance</th>
      <th scope="col">Role</th>
      <th scope="col">Activity</th>
      <th scope="col">Wallet</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{user['id']}}</th>
      <td>    {{user['name']}}     </td>
      <td>    {{user['email']}}</td>
      <td>    {{user['phone']}}</td>
      <td>    {{user['balance']}}</td>
      <td>    {% if user['admin'] %}
              Admin
              {%else%}
              User
              {% endif %}
      </td>
      <td>    {% if user['active'] %}
              Active
              {%else%}
              Deactived
              {% endif %}
      </td>
      <td>    {{user['volt_balance']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>

</content>
  {% include 'footer.html' %}
</body>

</html>