<script>
  function handleClick(button) {
      // Disable the button
      button.disabled = true;

      // Get the form associated with the button
      const form = button.form;

      // Perform client-side validation if needed
      if (form.checkValidity()) {
          // If the form is valid, submit it
          form.submit();

          // You can also handle the server response here and provide feedback to the user.
          setTimeout(function() {
              // Enable the button after the simulated server response
              button.disabled = false;
          }, 20000); // Simulated delay (2 seconds in this example)
      } else {
          // If the form is not valid, re-enable the button
          button.disabled = false;
      }
  }
</script>




<!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel2">Create Order</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>




            <div class="modal-body">


              <form action="/create_order"  method="post">


                <label style="margin-top:5%;">Transfer to :
                  <select name="restaurant_name" id="selectBox1" required >
                    <option value="" disabled selected>Select Restaurant</option>
                    {% for restaurant in restaurants %}

                    <option class="dropdown-item" value="{{restaurant['name']}}" > {{restaurant['name']}} </option>


                    {% endfor %}

                  </select>

                </label>

                <container class="col-xlg-12 mx-auto  container row justify-content-center" style="margin-top : 5%;" >

                  <div class="input-group" style="margin-top : 5%; margin-bottom : 5%;" >
                    <span  class="input-group-text">Order Will Arrive At</span>
                    <textarea maxlength = 50 name="dining_room" required  class="form-control" aria-label="With textarea"></textarea>
                  </div>

                  <div class="input-group" style="margin-top : 5%; margin-bottom : 5%;" >
                    <span  class="input-group-text">You Will Order Within</span>
                    <textarea maxlength = 50 name="time_to_order" required  class="form-control" aria-label="With textarea"></textarea>
                  </div>

                </container>


                <!-- name = "transfer" value="Transfer" -->

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit"  onclick="handleClick(this);" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>