<style type="text/css">

/* span {
  display: inline-block;
  width: 5px;
} */

</style>
<script>
  var selectBoxCounter = 1; // Initialize counter

  function addNew() {
    // Get the main Div in which all the other divs will be added
    var mainContainer = document.getElementById('mainContainer');
    mainContainer.className="col-xlg-12 mx-auto";
    // Create a new div for holding text and button input elements
    var newDiv = document.createElement('div');
      newDiv.className = 'input-group mb-3';
    // Create a new text input
    var newSelectBox = document.createElement('select');
    newSelectBox.name = 'from_user_' + selectBoxCounter; // Set name attribute
    newSelectBox.required = true;
    newSelectBox.className = 'selectpicker form-control';

    // Add "Select your option" option to the dropdown
    var defaultOption = document.createElement('option');
    defaultOption.value = '';
    defaultOption.text = 'Select your option';
    defaultOption.disabled = true;
    defaultOption.selected = true;
    newSelectBox.add(defaultOption);
    {% for user in users %};
    var newOption = document.createElement('option');
    newOption.value = "{{ user["name"] }}";
    newOption.text = "{{ user["name"] }}";
    newSelectBox.add(newOption);
    {% endfor %};
    var inputGroup = document.createElement('div');
    inputGroup.className = 'input-group mb-3';
    var spanInputGroup = document.createElement('span');
    spanInputGroup.className = 'input-group-text';
    spanInputGroup.textContent = '$';
    var input = document.createElement("input");
    input.type = "number";
    input.step = ".01";
    input.min = "-9999.99";
    input.max = "9999.99";
    input.required = true;
    input.name = "transfer_amount_" + selectBoxCounter; // Set name attribute
    input.className = 'form-control';
    input.setAttribute('aria-label', 'Amount (to the nearest dollar)');
    var spanInputGroup2 = document.createElement('span');
    spanInputGroup2.className = 'input-group-text';
    spanInputGroup2.textContent = '.00';

    // Set margins or paddings to create space
    // newSelectBox.style.marginBottom = '10px';
    // newSelectBox.style.marginRight = '10px'; // Adjust the spacing as needed
    // spanInputGroup2.style.marginLeft = '10px'; // Adjust the spacing as needed

    // Create buttons for creating and removing inputs
    var newAddButton = document.createElement('input');
    newAddButton.type = "button";
    newAddButton.value = " + ";

    var newDelButton = document.createElement('input');
    newDelButton.type = "button";
    newDelButton.value = " - ";

    // Append new text input to the newDiv
    newDiv.appendChild(newSelectBox);
      newDiv.appendChild(spanInputGroup);
      newDiv.appendChild(input);
      newDiv.appendChild(spanInputGroup2);
    // spanInputGroup.appendChild(input);
    // newDiv.appendChild(inputGroup);
    // Append new button inputs to the newDiv
        // newDiv.appendChild(newAddButton);
        newDiv.appendChild(newDelButton);

    // Append newDiv input to the mainContainer div
    mainContainer.appendChild(newDiv);
    // mainContainer.appendChild(inputGroup);

    // Add a handler to button for deleting the newDiv from the mainContainer
    newAddButton.onclick = addNew;

    newDelButton.onclick = function() {
      mainContainer.removeChild(newDiv);
    };

    // Increment the counter for the next dropdown
    selectBoxCounter++;

    // Set up the event listener with an anonymous function
    newSelectBox.addEventListener("change", function (event) {
      prevent_duplicate_selection(event, newSelectBox);
    });
  }

  function getAllSelectValues() {
    var allSelectBoxes = document.getElementsByTagName('select');
    var selectedValues = [];

    for (var i = 0; i < allSelectBoxes.length; i++) {
      var selectBox = allSelectBoxes[i];
      selectedValues.push(selectBox.value);
    }

    return selectedValues;
  }

  function prevent_duplicate_selection(event, selectBox) {
    var selectedValues = getAllSelectValues();
    var selectedValue = selectBox.value;

    if (selectedValues.filter(value => value === selectedValue).length > 1) {
      alert('User is already selected in another dropdown!');

      // Reset the value to an empty string or the default value
      selectBox.value = '';
    }
  }
</script>
<script>
  function handleClick(button) {
      // Disable the button
      button.disabled = true;

      // Get the form associated with the button
      const form = button.form;

      // Perform client-side validation if needed
      if (form.checkValidity()) {
          // If the form is valid, submit it
          form.submit();

          // You can also handle the server response here and provide feedback to the user.
          setTimeout(function() {
              // Enable the button after the simulated server response
              button.disabled = false;
          }, 20000); // Simulated delay (2 seconds in this example)
      } else {
          // If the form is not valid, re-enable the button
          button.disabled = false;
      }
  }
</script>
<!-- Modal -->
      <div class="modal modal-lg fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel5">Transfer Money <em>(Only Used for Site fees Payement) </em></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>




            <div class="modal-body">
              <form action="/money_transfer_from_all_users"  method="post">


                 


                <label >Transfer to
                  </label>
                  <select style="margin-top:2%;" class="selectpicker form-control" name="to_user" id="select"  required >

                    <option value="" disabled selected>Select your option</option>
                    {% for user in users %}
                    {% if currentUser['admin'] %}
                    <option value="{{user['name']}}" > {{user['name']}} </option>
                    {% else %}

                    {% endif %}  

                    {% endfor %}

                  </select>
                




                <div style="margin-top:3%;" class="input-group  mb-3 ">

                  <span class="input-group-text">Amount</span>
                  <input type="number" step=".01"  min=-9999.99 max=9999.99 required id="salary" name="site_fees" class="form-control " aria-label="Amount (to the nearest dollar)">


                </div>



                  <div class="input-group" style="margin-top : 5%; margin-bottom : 5%;" >
                    <span  class="input-group-text input-group-xl"> Transfer Reason  <br> ( Enter the Total Cost ) </span>
                    <textarea maxlength = 50 name="transfer_reason" required  class="form-control" aria-label="With textarea"></textarea>
                  </div>




                <!-- name = "transfer" value="Transfer" -->

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit"   class="btn btn-primary">Transfer All</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

