
<style>
.nav-button {

			/* styling for buttons */

		}
		.nav-button:first-of-type {

			border-bottom-left-radius: 25px;

			border-bottom-right-radius: 25px;

		}
    .navbar-custom {
      background-color: lightgreen;
    }
	</style>
<nav class="navbar  nav-button navbar-custom" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto row justify-content-center" href="#">
      <img src = "/static/tsfoodies_logo.png" style="width:30%;">  
    </a>
  </div>
</nav>
