<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Transaction </title>
  {% include 'icon.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


  <style>
    body {
      min-height: 100vh;
      position: relative;
      margin: 0;
      padding-bottom: 100px; //height of the footer
      box-sizing: border-box;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 80%;
      height: 100px;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
      background-color: #FAFA33;
    }
    table {
        border-collapse:separate;
        border:solid black 1px;
        border-radius:6px;
    }
    td, th {
        border-left:solid black 1px;
        border-top:solid black 1px;
    }

    th {
        background-color: blue;
        border-top: none;
    }

    td:first-child, th:first-child {
         border-left: none;
    }

/* table {
  text-align: left;
  position: relative;
}

th {
  background-color:#FF0000
  background: white;
  position: sticky;
  top: 0;
}
  
  #managerTable {
    max-height: 500px;
    overflow: auto;
} */

</style>

</head>

<body class="" >
  {% include 'navbar.html' %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
  {% for message in messages %}
  <div class="container">
    <div class="row">
      <div class="col-x-auto text-center">
  <div class="alert alert-danger alert-dismissible fade show" style="margin-top: 2% ;" role="alert">
    <strong>{{ message }}!</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    </div>
  </div>
  </div>
  {%endfor%}
    {% endif %}
  {% endwith %}
  <content >

    <div class="container-fluid">
      <div class="row d-flex justify-content-center gap-2">
      <div class="col-sm-6">
       <div class="card" style="margin-top: 2% ;">
         <div class="card-header">
           Order Info 
           {% if order_status == "Open" %}
           <span class="badge bg-primary rounded-pill" style="float:right;">Order Status:    {{order_status}}</span>
           {% elif order_status == "Closed" %}
           <span class="badge bg-warning rounded-pill" style="float:right;">Order Status:
           {{order_status}}</span>
           {% elif order_status == "Canceled" %}
           <span class="badge bg-danger rounded-pill" style="float:right;">Order Status:
           {{order_status}}</span>
           {% elif order_status == "Arrived" or order_status == "Paid" %}
           <span class="badge bg-success rounded-pill" style="float:right;">Order Status:
           {{order_status}}</span>
           {% endif %}
         </div>
         <div class="card-body">
           <h5 class="card-title">Restaurant : {{order_restaurant['name']}}</h5>
           <p class="card-text">Address : {{order_restaurant['address']}}<br> Contact : {{order_restaurant['contact_info']}}<br>Owner : {{order_owner}} </p>
         </div>
       </div>
      </div>
      </div>
    </div>
    
    {%if order_status != "Paid" and order_status != "Canceled"%}
    {%if order_status != "Closed" or ( current_user['name'] == order_owner or current_user['admin'] == 1 ) %}
    <div class="button-container">
      <div class=" d-flex justify-content-center gap-2"  style="margin-top: 2% ;">
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"  >
      Add/Modify Your Order
    </button>
    {% include 'add_order.html' %}
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1"  >
      Add Menu Item
    </button>
    {% include 'add_menu_item.html' %}
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2"  >
      Update Item Price
    </button>
    {% include 'update_item_price.html' %}
        {%if current_user['name'] == order_owner or current_user['admin'] == 1 %}
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal6"  >
        Add College Order
        </button>
        {% include 'add_college_order.html' %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if current_user['name'] == order_owner or current_user['admin'] == 1 %}

    <div class="button-container">
      <div class=" d-flex justify-content-center gap-2"  style="margin-top: 2% ;">
        {% if order_status == "Arrived" %}
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3"  >
      Pay Order
    </button>
    {% include 'order_payment.html' %}
        {% endif %}
        {% if order_status != "Arrived" %}
        {% if order_status != "Open" %}
    <form action="{{ url_for('order_sheet', id=id) }}" method="POST"> 
     <button  type="submit" name ="action" value="orderArrived" class="btn btn-success btn-sm" >
       Order Arrived
     </button>
    </form>
        {% endif %}
        {%if order_status != "Closed"%}
    <form action="{{ url_for('order_sheet', id=id) }}" method="POST"> 
     <button  type="submit" name ="action" value="closeOrder" class="btn btn-warning btn-sm" >
      Close Order
     </button>
    </form>
        {%endif%}

        <form action="{{ url_for('order_sheet', id=id) }}" method="POST"> 
     <button  type="submit" name ="action" value="cancelOrder" class="btn btn-danger btn-sm" >
     Cancel Order
     </button>
    </form>
        {%endif%}
      </div>
    </div>

  {%endif%}
    {%endif%}
    


<table  class="table  mx-10 col-lg-4 mx-auto  container  justify-content-center  border-0 bd-example table-striped ">
  <thead>
    <tr>
      <th scope="col"></th>
      {% for menuitem in menuitems_uniqueorders %}
      <th scope="col">{{menuitem['description']}} <br> {{menuitem['price']}} L.E.</th>

      {% endfor %}
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>

    {% for user, user_items_cost in zipped_data %}
    <tr>
      <th scope="row">{{user['name']}}</th>
      {% for menuitem in menuitems_uniqueorders %}
      <td >    
        {% set break = false%}
        {% set item_total_cost = 0 %}
        {% for order in orderitems if not break %}

        {% if user['id'] == order['user_id'] and menuitem['id'] == order['menuitem_id'] %}     
        {% if order['quantity'] != order['quantity']|int %} 
        {{ order['quantity']|float }}
        {%else%}
        {{ order['quantity']|float|int }}
        {% endif %}
        {% set break = true%}          
        {% else %}
        {% endif %}
        {%endfor%}

        {% if not break %}
        <!-- 0 need to be checked most probale that this loop is entered more than one time -->
        {% endif %}
        
      </td>
      {% endfor %}
      <td>{{user_items_cost}} L.E.</td>
    </tr>
    {% endfor %}
    <th scope="row" style="color: red;">{% if order_status == "Paid"%}
      Summary(delivery = {{delivery_cost}})
    {%else%}
      Summary
    {%endif%}
    </th>
    {% for menu_item_quantity in menu_items_quantity %}
    <td style="color: red;">{{menu_item_quantity}}</td>
    {% endfor %}
    <td style="color: red;">{{order_cost}} L.E.</td>
  </tbody>
</table>

     <h2 class="mx-auto w-auto text-center">Order Summary</h2>

       <table class="table table-hover mx-auto table-striped w-auto text-center m-6" style="border:1px solid black;margin-left:auto;margin-right:auto;">

         <thead>
          <tr>
            <th scope="col">Order Items</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>

         {% for menuitem,menu_item_quantity in zipped_data1 %}
         <tr>
          <td>{{menuitem['description']}}</td>
          <td>{{menu_item_quantity}}</td>
        </tr>
        {%endfor%}
          <td style="background-color: #C5C5C5"><b><em>Total</em></b></td>
          <td style="background-color: #C5C5C5"><b><em>{{total_num_of_items}}</em></b></td>

      </tbody>
    </table>


</content>
{% include 'footer.html' %}
</body>

</html>